.tag {
  position: relative;
  font-size: 14px;
  display: inline-block;
  margin: 0;
  line-height: 37px;
  min-width: 90px;
  padding: 0 var(--spacing-4);
  color: var(--col-black);
  background: var(--col-white);
  font-family: var(--font-family);
  text-align: center;
  border-radius: var(--border-radius-tag);
  white-space: nowrap;
  text-decoration: none;
  user-select: none;
  transition: transform var(--transition-smooth);

  &:active {
    transform: scale(0.9);
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--border-radius-tag);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
  }

  /* Elements */

  &__clear {
    display: block;
    position: absolute;
    top: 50%;
    right: var(--spacing-3);
    transform: translateY(-50%);
    color: currentColor;
    line-height: 1;
  }

  /* Modifiers */

  &--active {
    color: var(--col-white);
    background: var(--col-black);
  }

  &--interactive {
    cursor: pointer;
  }

  &--disabled {
    background: var(--col-gray-1);

    &:active {
      transform: none;
    }

    &:after {
      display: none;
    }
  }

  &--show-clear {
    padding-right: var(--spacing-7);
  }

  &--full {
    display: block;
  }
}
