.loader {
  position: relative;
  display: block;
  max-width: 150px;
  margin: 0 auto;

  &__bottom-line {
    animation: bottom-line 1s ease infinite;
  }

  &__line {
    position: relative;
    width: 20%;
    padding-bottom: 6%;
    background: black;
    position: absolute;
    left: 50.5%;
    top: 46%;
    transform: translateY(-50%);
    animation: line-middle 1.5s cubic-bezier(0.6, -0.02, 0.1, 1.13) infinite;
    transform-origin: center left;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: -5px;
      top: 0;
      height: 100%;
      border-radius: 10px;
      background: black;
      width: 10px;
    }

    &:after {
      background: black;
      left: auto;
      right: -5px;
    }
  }

  &__line-top {
    top: 16%;
    left: 49%;
    transform: rotate(-13deg);
    animation: line-top 1.5s cubic-bezier(0.6, -0.02, 0.1, 1.13) infinite;
  }

  &__line-bottom {
    top: 65%;
    left: 49%;
    transform: rotate(13deg);
    animation: line-bottom 1.5s cubic-bezier(0.6, -0.02, 0.1, 1.13) infinite;
  }
}

@keyframes line-top {
  0% {
    width: 0.1%;
  }
  40% {
    width: 27%;
  }
  55% {
    width: 27%;
  }
  100% {
    width: 0.1%;
  }
}

@keyframes line-middle {
  0% {
    width: 0.1%;
  }
  10% {
    width: 0.1%;
  }
  65% {
    width: 16%;
  }
  100% {
    width: 0.1%;
  }
}

@keyframes line-bottom {
  0% {
    width: 0.1%;
  }
  20% {
    width: 0.1%;
  }
  70% {
    width: 27%;
  }
  100% {
    width: 0.1%;
  }
}
