.input {
  position: relative;
  display: inline-block;

  /* Elements */

  &__field {
    display: block;
    width: 100%;
    font-size: 14px;
    font-family: var(--font-family);

    color: var(--col-black);
    background: var(--col-gray-1);
    border-radius: var(--border-radius);
    padding: var(--spacing-3) var(--spacing-4);
    border: 1px solid var(--col-gray-1);

    transition: all 0.2s ease;

    &:hover {
      background: var(--col-gray-2);
      border-color: var(--col-gray-2);
    }

    &:focus {
      background: var(--col-gray-1);
      border-color: var(--col-ok-5);
      box-shadow: none;
    }

    &::-webkit-input-placeholder {
      color: #919191;
    }
  }

  &__error {
    display: block;
    margin-left: var(--spacing-2);
    color: var(--col-red);
    font-size: 12px;
  }

  &__clear {
    display: block;
    position: absolute;
    right: var(--spacing-2);
    transform: translateY(-33px);
    color: currentColor;
    cursor: pointer;
  }

  /* Modifiers */

  &--error {
    .input__field {
      border-color: var(--col-red);
    }
  }

  &--show-clear {
    .input__field {
      padding-right: var(--spacing-7);
    }
  }

  &--full {
    display: block;
  }
}
