.tag-list {
  display: block;
  position: relative;

  /* Elements */

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
  }

  &__item {
    margin-right: var(--spacing-3);
    margin-bottom: var(--spacing-3);
  }

  &__show-more {
    display: inline-block;
    margin-top: var(--spacing-2);
    list-style: none;
  }

  /* Modifiers */

  &--limited {
    .tag-list__list {
      overflow: hidden;

      /* To keep box shadow visible when overflow is hidden */
      margin-top: -4px;
      padding-top: 4px;
      padding-left: 4px;
      margin-left: -4px;
    }
  }

  &--max-rows-1 {
    .tag-list__list {
      max-height: 48px;
    }
  }
  &--max-rows-2 {
    .tag-list__list {
      max-height: 96px;
    }
  }
  &--max-rows-3 {
    .tag-list__list {
      max-height: 144px;
    }
  }

  &--expanded {
    .tag-list__list {
      max-height: initial;
      overflow: visible;
    }
    .tag-list__show-more {
      display: none;
    }
  }
}
