.tag-list {
  display: block;
  position: relative;

  /* Elements */

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
  }

  &__item {
    margin-right: var(--spacing-3);
    margin-bottom: var(--spacing-3);
  }

  &__show-more {
    display: block;
    padding-top: var(--spacing-2);
    list-style: none;
  }

  /* Modifiers */

  &--limited {
    .tag-list__list {
      overflow: hidden;
    }
  }

  &--max-rows-1 {
    .tag-list__list {
      max-height: 42px;
    }
  }
  &--max-rows-2 {
    .tag-list__list {
      max-height: 90px;
    }
  }
  &--max-rows-3 {
    .tag-list__list {
      max-height: 142px;
    }
  }

  &--expanded {
    .tag-list__list {
      max-height: auto;
      overflow: visible;
    }
    .tag-list__show-more {
      display: none;
    }
  }
}
