.work-tabs {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__tab {
    background: black;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 800;
    padding: 5px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    > img {
      width: 18px;
      margin-right: 5px;
    }
  }
}
