.button {
  display: inline-block;
  margin: 0;
  line-height: 40px;
  min-width: 90px;
  padding: 0 30px;
  color: var(--col-black);
  background: var(--col-white);
  border: 1px solid var(--col-gray-6);
  font-family: var(--font-family);
  text-align: center;
  border-radius: var(--border-radius);
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;

  /* Modifiers */

  &--primary {
    background: var(--col-ok-5);
    border: 1px solid var(--col-ok-5);
  }

  &--with-icon {
    padding: 0 30px 0 10px;

    svg {
      margin-right: 10px;
    }
  }

  &[disabled] {
    cursor: not-allowed;
  }
}
