.text {
  display: inline-block;

  /* Modifiers */

  &--highlight {
    background: var(--col-yellow);
    padding: 0 var(--spacing-2);
  }

  &--bold {
    font-weight: bold;
  }

  &--gray {
    color: var(--col-gray-6);
  }

  &--error {
    color: var(--col-red);
  }

  &--strikeThrough {
    text-decoration: line-through;
  }

  &--drop-cap&::first-letter {
    padding: 0.3em 0.2em 0 0;
    initial-letter: 2;
    font-size: 300%;
    font-weight: bold;
    float: left;
  }

  &--uppercase {
    text-transform: uppercase;
  }
}
