.burger {
  position: relative;
  display: block;
  color: var(--col-black);
  font-family: var(--font-family);
  font-size: 14px;
  cursor: pointer;

  /* Enable hover effect only for supported devices */
  @media (hover: hover) {
    &:hover {
      path:nth-child(1) {
        transform: rotate(-15deg) translate3d(2px, -1px, 0);
      }
      path:nth-child(3) {
        transform: rotate(15deg) translate3d(2px, 1px, 0);
      }
    }
  }

  &:active {
    .burger__inner {
      transform: scale(0.9);
    }
  }

  /* Elements */

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: var(--col-white);
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.08);
    transition: transform var(--transition-smooth);

    svg {
      width: 24px;
      height: 24px;
      stroke: var(--col-black);
    }

    path {
      stroke-width: 2;
      stroke-linecap: round;
      transition: all var(--transition-smooth);
      transform-origin: center;
      opacity: 1;
    }
  }

  &__text {
    display: none;
    position: absolute;
    left: 23px;
    bottom: 15px;
    padding-left: calc(23px + var(--spacing-4));
    transition: all var(--transition-smooth);
    transform: rotate(-90deg);
    transform-origin: left center;

    @media (--large) {
      display: block;
    }
  }

  &__lines {
    position: relative;
    height: 12px;
    width: 16px;
  }

  /* Modifiers */

  &--open {
    .burger__text {
      transform: rotate(0deg);
    }
    path:nth-child(1) {
      transform: rotate(45deg) translate3d(0px, 6px, 0) !important;
    }
    path:nth-child(2) {
      transform: translate3d(-15px, 0px, 0) !important;
      opacity: 0 !important;
    }
    path:nth-child(3) {
      transform: rotate(-45deg) translate3d(0px, -6px, 0) !important;
    }
  }
}
