.grid {
  padding: 0;
  margin: 0;
  margin-left: calc(-1 * var(--spacing-5));
  list-style: none;
  letter-spacing: -0.31em;
}

/**
 * Reversed grids allow you to structure your source in the opposite order to
 * how your rendered layout will appear. Extends '.grid'.
 */
.grid--rev {
  direction: rtl;
  text-align: left;
}

.grid--rev > .grid__item {
  direction: ltr !important;
  text-align: left !important;
}

/**
 * Gutterless grids have all the properties of regular grids, minus any spacing.
 * Extends '.grid'.
 */
.grid--full {
  margin-left: 0;
}

.grid--full > .grid__item {
  padding-left: 0 !important;
}

/**
 * Align the entire grid to the right. Extends '.grid'.
 */
.grid--right {
  text-align: right;
}

.grid--right > .grid__item {
  text-align: left !important;
}

/**
 * Centered grids align grid items centrally without needing to use push or pull
 * classes. Extends '.grid'.
 */
.grid--center {
  text-align: center;
}

.grid--center > .grid__item {
  text-align: left !important;
}

/**
 * Align grid cells vertically ('.grid--middle' or '.grid--bottom'). Extends
 * '.grid'.
 */
.grid--middle > .grid__item {
  vertical-align: middle !important;
}

.grid--bottom > .grid__item {
  vertical-align: bottom !important;
}

/**
 * Create grids with narrower gutters. Extends '.grid'.
 */
.grid--narrow {
  margin-left: -var(--spacing-smaller);
}

.grid--narrow > .grid__item {
  padding-left: var(--spacing-smaller);
}

/**
 * Create grids with wider gutters. Extends '.grid'.
 */
.grid--wide {
  margin-left: -var(--spacing-small);
}

@media (--medium) {
  .grid--wide {
    margin-left: -var(--spacing);
  }
}

@media (--xlarge) {
  .grid--wide {
    margin-left: -var(--spacing-large);
  }
}

.grid--wide > .grid__item {
  padding-left: var(--spacing-small);
}

@media (--medium) {
  .grid--wide > .grid__item {
    padding-left: var(--spacing);
  }
}

@media (--xlarge) {
  .grid--wide > .grid__item {
    padding-left: var(--spacing-large);
  }
}

/*
 * Grid item styles
 */

.grid__item {
  display: inline-block;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: var(--spacing-5);
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
}

/**
* Whole
*/
.one-whole {
  width: 100%;
}

/**
* Halves
*/
.one-half,
.two-quarters,
.three-sixths,
.four-eighths,
.five-tenths,
.six-twelfths {
  width: 50%;
}

/**
* Thirds
*/
.one-third,
.two-sixths,
.four-twelfths {
  width: 33.333%;
}

.two-thirds,
.four-sixths,
.eight-twelfths {
  width: 66.666%;
}

/**
* Quarters
*/
.one-quarter,
.two-eighths,
.three-twelfths {
  width: 25%;
}

.three-quarters,
.six-eighths,
.nine-twelfths {
  width: 75%;
}

/**
* Fifths
*/
.one-fifth,
.two-tenths {
  width: 20%;
}

.two-fifths,
.four-tenths {
  width: 40%;
}

.three-fifths,
.six-tenths {
  width: 60%;
}

.four-fifths,
.eight-tenths {
  width: 80%;
}

/**
* Sixths
*/
.one-sixth,
.two-twelfths {
  width: 16.666%;
}

.five-sixths,
.ten-twelfths {
  width: 83.333%;
}

/**
* Eighths
*/
.one-eighth {
  width: 12.5%;
}

.three-eighths {
  width: 37.5%;
}

.five-eighths {
  width: 62.5%;
}

.seven-eighths {
  width: 87.5%;
}

/**
* Tenths
*/
.one-tenth {
  width: 10%;
}

.three-tenths {
  width: 30%;
}

.seven-tenths {
  width: 70%;
}

.nine-tenths {
  width: 90%;
}

/**
* Twelfths
*/
.one-twelfth {
  width: 8.333%;
}

.five-twelfths {
  width: 41.666%;
}

.seven-twelfths {
  width: 58.333%;
}

.eleven-twelfths {
  width: 91.666%;
}

/**
 * Our responsive classes, if we have enabled them.
 */
@media only screen and (--small) {
  /**
     * Whole
     */
  .small--one-whole {
    width: 100%;
  }

  /**
     * Halves
     */
  .small--one-half,
  .small--two-quarters,
  .small--three-sixths,
  .small--four-eighths,
  .small--five-tenths,
  .small--six-twelfths {
    width: 50%;
  }

  /**
     * Thirds
     */
  .small--one-third,
  .small--two-sixths,
  .small--four-twelfths {
    width: 33.333%;
  }

  .small--two-thirds,
  .small--four-sixths,
  .small--eight-twelfths {
    width: 66.666%;
  }

  /**
     * Quarters
     */
  .small--one-quarter,
  .small--two-eighths,
  .small--three-twelfths {
    width: 25%;
  }

  .small--three-quarters,
  .small--six-eighths,
  .small--nine-twelfths {
    width: 75%;
  }

  /**
     * Fifths
     */
  .small--one-fifth,
  .small--two-tenths {
    width: 20%;
  }

  .small--two-fifths,
  .small--four-tenths {
    width: 40%;
  }

  .small--three-fifths,
  .small--six-tenths {
    width: 60%;
  }

  .small--four-fifths,
  .small--eight-tenths {
    width: 80%;
  }

  /**
     * Sixths
     */
  .small--one-sixth,
  .small--two-twelfths {
    width: 16.666%;
  }

  .small--five-sixths,
  .small--ten-twelfths {
    width: 83.333%;
  }

  /**
     * Eighths
     */
  .small--one-eighth {
    width: 12.5%;
  }

  .small--three-eighths {
    width: 37.5%;
  }

  .small--five-eighths {
    width: 62.5%;
  }

  .small--seven-eighths {
    width: 87.5%;
  }

  /**
     * Tenths
     */
  .small--one-tenth {
    width: 10%;
  }

  .small--three-tenths {
    width: 30%;
  }

  .small--seven-tenths {
    width: 70%;
  }

  .small--nine-tenths {
    width: 90%;
  }

  /**
     * Twelfths
     */
  .small--one-twelfth {
    width: 8.333%;
  }

  .small--five-twelfths {
    width: 41.666%;
  }

  .small--seven-twelfths {
    width: 58.333%;
  }

  .small--eleven-twelfths {
    width: 91.666%;
  }
}

@media only screen and (--medium) {
  /**
     * Whole
     */
  .medium--one-whole {
    width: 100%;
  }

  /**
     * Halves
     */
  .medium--one-half,
  .medium--two-quarters,
  .medium--three-sixths,
  .medium--four-eighths,
  .medium--five-tenths,
  .medium--six-twelfths {
    width: 50%;
  }

  /**
     * Thirds
     */
  .medium--one-third,
  .medium--two-sixths,
  .medium--four-twelfths {
    width: 33.333%;
  }

  .medium--two-thirds,
  .medium--four-sixths,
  .medium--eight-twelfths {
    width: 66.666%;
  }

  /**
     * Quarters
     */
  .medium--one-quarter,
  .medium--two-eighths,
  .medium--three-twelfths {
    width: 25%;
  }

  .medium--three-quarters,
  .medium--six-eighths,
  .medium--nine-twelfths {
    width: 75%;
  }

  /**
     * Fifths
     */
  .medium--one-fifth,
  .medium--two-tenths {
    width: 20%;
  }

  .medium--two-fifths,
  .medium--four-tenths {
    width: 40%;
  }

  .medium--three-fifths,
  .medium--six-tenths {
    width: 60%;
  }

  .medium--four-fifths,
  .medium--eight-tenths {
    width: 80%;
  }

  /**
     * Sixths
     */
  .medium--one-sixth,
  .medium--two-twelfths {
    width: 16.666%;
  }

  .medium--five-sixths,
  .medium--ten-twelfths {
    width: 83.333%;
  }

  /**
     * Eighths
     */
  .medium--one-eighth {
    width: 12.5%;
  }

  .medium--three-eighths {
    width: 37.5%;
  }

  .medium--five-eighths {
    width: 62.5%;
  }

  .medium--seven-eighths {
    width: 87.5%;
  }

  /**
     * Tenths
     */
  .medium--one-tenth {
    width: 10%;
  }

  .medium--three-tenths {
    width: 30%;
  }

  .medium--seven-tenths {
    width: 70%;
  }

  .medium--nine-tenths {
    width: 90%;
  }

  /**
     * Twelfths
     */
  .medium--one-twelfth {
    width: 8.333%;
  }

  .medium--five-twelfths {
    width: 41.666%;
  }

  .medium--seven-twelfths {
    width: 58.333%;
  }

  .medium--eleven-twelfths {
    width: 91.666%;
  }
}

@media only screen and (--medium) {
  /**
     * Whole
     */
  .medium--one-whole {
    width: 100%;
  }

  /**
     * Halves
     */
  .medium--one-half,
  .medium--two-quarters,
  .medium--three-sixths,
  .medium--four-eighths,
  .medium--five-tenths,
  .medium--six-twelfths {
    width: 50%;
  }

  /**
     * Thirds
     */
  .medium--one-third,
  .medium--two-sixths,
  .medium--four-twelfths {
    width: 33.333%;
  }

  .medium--two-thirds,
  .medium--four-sixths,
  .medium--eight-twelfths {
    width: 66.666%;
  }

  /**
     * Quarters
     */
  .medium--one-quarter,
  .medium--two-eighths,
  .medium--three-twelfths {
    width: 25%;
  }

  .medium--three-quarters,
  .medium--six-eighths,
  .medium--nine-twelfths {
    width: 75%;
  }

  /**
     * Fifths
     */
  .medium--one-fifth,
  .medium--two-tenths {
    width: 20%;
  }

  .medium--two-fifths,
  .medium--four-tenths {
    width: 40%;
  }

  .medium--three-fifths,
  .medium--six-tenths {
    width: 60%;
  }

  .medium--four-fifths,
  .medium--eight-tenths {
    width: 80%;
  }

  /**
     * Sixths
     */
  .medium--one-sixth,
  .medium--two-twelfths {
    width: 16.666%;
  }

  .medium--five-sixths,
  .medium--ten-twelfths {
    width: 83.333%;
  }

  /**
     * Eighths
     */
  .medium--one-eighth {
    width: 12.5%;
  }

  .medium--three-eighths {
    width: 37.5%;
  }

  .medium--five-eighths {
    width: 62.5%;
  }

  .medium--seven-eighths {
    width: 87.5%;
  }

  /**
     * Tenths
     */
  .medium--one-tenth {
    width: 10%;
  }

  .medium--three-tenths {
    width: 30%;
  }

  .medium--seven-tenths {
    width: 70%;
  }

  .medium--nine-tenths {
    width: 90%;
  }

  /**
     * Twelfths
     */
  .medium--one-twelfth {
    width: 8.333%;
  }

  .medium--five-twelfths {
    width: 41.666%;
  }

  .medium--seven-twelfths {
    width: 58.333%;
  }

  .medium--eleven-twelfths {
    width: 91.666%;
  }
}

@media only screen and (--large) {
  /**
     * Whole
     */
  .large--one-whole {
    width: 100%;
  }

  /**
     * Halves
     */
  .large--one-half,
  .large--two-quarters,
  .large--three-sixths,
  .large--four-eighths,
  .large--five-tenths,
  .large--six-twelfths {
    width: 50%;
  }

  /**
     * Thirds
     */
  .large--one-third,
  .large--two-sixths,
  .large--four-twelfths {
    width: 33.333%;
  }

  .large--two-thirds,
  .large--four-sixths,
  .large--eight-twelfths {
    width: 66.666%;
  }

  /**
     * Quarters
     */
  .large--one-quarter,
  .large--two-eighths,
  .large--three-twelfths {
    width: 25%;
  }

  .large--three-quarters,
  .large--six-eighths,
  .large--nine-twelfths {
    width: 75%;
  }

  /**
     * Fifths
     */
  .large--one-fifth,
  .large--two-tenths {
    width: 20%;
  }

  .large--two-fifths,
  .large--four-tenths {
    width: 40%;
  }

  .large--three-fifths,
  .large--six-tenths {
    width: 60%;
  }

  .large--four-fifths,
  .large--eight-tenths {
    width: 80%;
  }

  /**
     * Sixths
     */
  .large--one-sixth,
  .large--two-twelfths {
    width: 16.666%;
  }

  .large--five-sixths,
  .large--ten-twelfths {
    width: 83.333%;
  }

  /**
     * Eighths
     */
  .large--one-eighth {
    width: 12.5%;
  }

  .large--three-eighths {
    width: 37.5%;
  }

  .large--five-eighths {
    width: 62.5%;
  }

  .large--seven-eighths {
    width: 87.5%;
  }

  /**
     * Tenths
     */
  .large--one-tenth {
    width: 10%;
  }

  .large--three-tenths {
    width: 30%;
  }

  .large--seven-tenths {
    width: 70%;
  }

  .large--nine-tenths {
    width: 90%;
  }

  /**
     * Twelfths
     */
  .large--one-twelfth {
    width: 8.333%;
  }

  .large--five-twelfths {
    width: 41.666%;
  }

  .large--seven-twelfths {
    width: 58.333%;
  }

  .large--eleven-twelfths {
    width: 91.666%;
  }
}

@media only screen and (--xlarge) {
  /**
     * Whole
     */
  .xlarge--one-whole {
    width: 100%;
  }

  /**
     * Halves
     */
  .xlarge--one-half,
  .xlarge--two-quarters,
  .xlarge--three-sixths,
  .xlarge--four-eighths,
  .xlarge--five-tenths,
  .xlarge--six-twelfths {
    width: 50%;
  }

  /**
     * Thirds
     */
  .xlarge--one-third,
  .xlarge--two-sixths,
  .xlarge--four-twelfths {
    width: 33.333%;
  }

  .xlarge--two-thirds,
  .xlarge--four-sixths,
  .xlarge--eight-twelfths {
    width: 66.666%;
  }

  /**
     * Quarters
     */
  .xlarge--one-quarter,
  .xlarge--two-eighths,
  .xlarge--three-twelfths {
    width: 25%;
  }

  .xlarge--three-quarters,
  .xlarge--six-eighths,
  .xlarge--nine-twelfths {
    width: 75%;
  }

  /**
     * Fifths
     */
  .xlarge--one-fifth,
  .xlarge--two-tenths {
    width: 20%;
  }

  .xlarge--two-fifths,
  .xlarge--four-tenths {
    width: 40%;
  }

  .xlarge--three-fifths,
  .xlarge--six-tenths {
    width: 60%;
  }

  .xlarge--four-fifths,
  .xlarge--eight-tenths {
    width: 80%;
  }

  /**
     * Sixths
     */
  .xlarge--one-sixth,
  .xlarge--two-twelfths {
    width: 16.666%;
  }

  .xlarge--five-sixths,
  .xlarge--ten-twelfths {
    width: 83.333%;
  }

  /**
     * Eighths
     */
  .xlarge--one-eighth {
    width: 12.5%;
  }

  .xlarge--three-eighths {
    width: 37.5%;
  }

  .xlarge--five-eighths {
    width: 62.5%;
  }

  .xlarge--seven-eighths {
    width: 87.5%;
  }

  /**
     * Tenths
     */
  .xlarge--one-tenth {
    width: 10%;
  }

  .xlarge--three-tenths {
    width: 30%;
  }

  .xlarge--seven-tenths {
    width: 70%;
  }

  .xlarge--nine-tenths {
    width: 90%;
  }

  /**
     * Twelfths
     */
  .xlarge--one-twelfth {
    width: 8.333%;
  }

  .xlarge--five-twelfths {
    width: 41.666%;
  }

  .xlarge--seven-twelfths {
    width: 58.333%;
  }

  .xlarge--eleven-twelfths {
    width: 91.666%;
  }
}

/**
 * Show-hide modifiers
 */

@media only screen and (--only-base) {
  .none {
    display: none;
  }
}

@media only screen and (--only-small) {
  .small--none {
    display: none;
  }
}

@media only screen and (--only-medium) {
  .medium--none {
    display: none;
  }
}

@media only screen and (--only-medium) {
  .medium--none {
    display: none;
  }
}

@media only screen and (--only-large) {
  .large--none {
    display: none;
  }
}

@media only screen and (--only-xlarge) {
  .xlarge--none {
    display: none;
  }
}
