.container {
  display: block;
  width: 100%;

  /* Elements */

  &__inner {
    margin: 0 auto;
    max-width: var(--page-width-max);
    padding: 0 var(--page-gutters-small);

    @media (--medium) {
      padding: 0 var(--page-gutters-medium);
    }

    @media (--large) {
      padding: 0 var(--page-gutters-large);
    }

    @media (--xlarge) {
      margin: 0 auto;
    }
  }

  /* Modifiers */

  &--gray {
    background: var(--col-gray-1);
  }

  &--dark {
    background: var(--col-black);
    color: var(--col-white);
  }

  &--prevent-collapse {
    overflow: auto;
  }

  &--no-gutters {
    @media (--max-medium) {
      .container__inner {
        padding: 0;
      }
    }
  }
}
