/**
 * Baseline number.
 */

$siteWidth: 1400px;

/**
  * gutters (Horizontal)
  */

$gutter1Mobile: 8px;
$gutter2Mobile: 20px;
$gutter3Mobile: 20px;
$gutter4Mobile: 20px;

$gutter1: 8px;
$gutter2: 20px;
$gutter3: 30px;
$gutter4: 40px;

/**
  * spacing (Vertical)
  */

$spacing1Mobile: 8px;
$spacing2Mobile: 20px;
$spacing3Mobile: 20px;
$spacing4Mobile: 40px;
$spacing5Mobile: 60px;

$spacing1: 8px;
$spacing2: 20px;
$spacing3: 30px;
$spacing4: 40px;
$spacing5: 80px;

/**
  * Various
  */

$buttonPadding: 0.7em;
$borderWidth: 2px;
$boxShadow: 0 0 0 6px rgba(0 0 0 0.12);
$headerHeightMobile: 5rem;
$headerHeight: 5.8rem;
