.icon {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;

  svg {
    display: block;
    color: black;
    fill: none;
  }

  /* Modifiers */

  &--full {
    width: 100%;

    svg {
      height: auto !important;
      width: 100% !important;
    }
  }

  &--inverted {
    svg {
      color: white;
    }
  }
}

.icon-map {
  display: none;
}
