.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;

  /* Elements */

  &__inner {
    max-height: calc(100% - var(--spacing-5) * 2);
    width: 100%;
    background: var(--col-white);
    border-radius: var(--border-radius);
    margin: var(--spacing-5);
    padding: var(--spacing-5);
    max-width: 400px;
    transform: translateY(5px);
    opacity: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    /* Animate out appearance */
    transition: all var(--transition-smooth);

    &::-webkit-scrollbar {
      display: none;
    }
  }

  /* Modifiers */

  &--visible {
    visibility: visible;
    z-index: var(--z-index-modal);

    .modal__inner {
      opacity: 1;
      transform: translateY(0);

      /* Animate in appearance */
      transition: opacity var(--transition-smooth), transform var(--transition-smooth);
    }
  }

  &--medium {
    .modal__inner {
      max-width: 500px;
    }
  }

  &--wide {
    .modal__inner {
      max-width: 1150px;
    }
  }

  &--full {
    .modal__inner {
      max-width: 100%;
    }
  }
}
