.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  flex-direction: column;
  margin: var(--page-gutters-small);

  @media (--medium) {
    flex-direction: column-reverse;
  }

  /* Elements */

  &__inner {
    max-height: calc(100% - var(--spacing-5) * 2);
    width: 100%;
    background: var(--col-white);
    border-radius: var(--border-radius);
    margin-bottom: var(--spacing-4);
    padding: var(--spacing-4);
    max-width: 400px;
    transform: translateY(5px);
    opacity: 0;
    overflow-y: scroll;

    @media (--medium) {
      padding: var(--spacing-5);
      margin: var(--spacing-5);
    }

    /* Animate out appearance */
    transition: all var(--transition-smooth);

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }
  }

  &__close {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 400px;

    @media (--medium) {
      margin-bottom: calc(var(--spacing-10) * -1);
      margin-right: var(--spacing-5);
      padding-top: var(--spacing-6);
    }
  }

  /* Modifiers */

  &--visible {
    visibility: visible;
    z-index: var(--z-index-modal);

    .modal__inner {
      opacity: 1;
      transform: translateY(0);

      /* Animate in appearance */
      transition: opacity var(--transition-smooth), transform var(--transition-smooth);
    }
  }

  &--medium {
    .modal__inner {
      max-width: 500px;
    }
    .modal__close {
      max-width: 500px;
    }
  }

  &--wide {
    .modal__inner {
      max-width: 1150px;
    }
    .modal__close {
      max-width: 1150px;
    }
  }

  &--full {
    .modal__inner {
      max-width: 100%;
    }
    .modal__close {
      max-width: 100%;
    }
  }
}
