.sidebar {
  position: fixed;
  width: 100%;
  right: 100%;
  top: 0;
  bottom: 0;
  visibility: hidden;
  z-index: var(--z-index-sidebar);

  @media (min-width: 600px) {
    right: initial;
    width: initial;
    left: -300px;
  }

  /* Elements */

  &__inner {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: var(--col-white);
    transform: translateX(0%);
    transition: all var(--transition-smooth);

    @media (min-width: 600px) {
      width: 300px;
      max-width: 100%;
    }
  }

  /* Modifiers */

  &--open {
    visibility: visible;

    .sidebar__inner {
      transform: translateX(100%);
      transition: transform var(--transition-smooth);
    }
  }
}
