.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: var(--col-black);
  opacity: 0;
  visibility: hidden;
  transition: all var(--transition-smooth);
  z-index: var(--z-index-overlay);

  /* Modifiers */
  &--visible {
    visibility: visible;
    opacity: 0.2;
  }
}
