.table {
  /* Elements */

  &__head {
    text-align: left;
    vertical-align: bottom;

    th {
      font-weight: bold;
      padding: var(--spacing-2) var(--spacing-4);
    }

    /* Force bg-color for header row */
    > .table__row {
      background: transparent !important;
    }
  }

  &__body {
    padding: 0;
  }

  &__row {
    background: transparent;

    &:nth-child(odd) {
      background: var(--col-gray-1);
    }
  }

  &__cell {
    padding: var(--spacing-5) var(--spacing-4);
    font-weight: normal;
  }

  /* Modifiers */

  &--full {
    width: 100%;
  }

  &--dark {
    .table__row:nth-child(odd) {
      background: var(--col-gray-2);
    }
  }

  &--transparent {
    .table__row:nth-child(odd) {
      background: transparent;
    }
  }

  &--condensed {
    .table__cell {
      padding: var(--spacing-3) var(--spacing-3);
    }
  }

  &--no-padding {
    .table__cell {
      padding: 0;
    }
  }

  &--vertical {
    /* No bg-color for vertical tables */
    .table__row {
      background: transparent !important;
    }

    /* Vertical table headers */
    th {
      font-weight: normal;
      color: var(--col-gray-6);
      text-align: left;
      padding-left: 0 !important;
    }
  }

  &--responsive {
    @media (--max-medium) {
      .table__head {
        display: none !important;
      }

      .table__cell {
        display: block;

        padding: 0 var(--spacing-4);
        margin: var(--spacing-4) 0;

        &:before {
          content: attr(data-label);
          display: block;
          font-weight: bold;
        }
      }
    }
  }

  &--responsive.table--vertical {
    @media (--max-medium) {
      .table__cell {
        display: block;
        padding: 0;
        margin: var(--spacing-2) 0;
      }
    }
  }
  &--condensed.table--vertical {
    .table__cell {
      padding: var(--spacing-1) var(--spacing-3);
    }
  }
}
