:root {
  /**
   * Typography.
   */

  --font-family: 'OsloSans';
  --font-size-default: calc(var(--root-unit) / 16 * 1rem);
  --font-size-small: calc(var(--font-size-default) - 2px);
  --font-size-large: calc(var(--font-size-default) + 2px);

  /**
   * Colours.
   */

  --col-brand: black;
  --col-white: #ffffff;
  --col-black: #000000;
  --col-link: #5499c7;
  --col-alpha: hsla(0, 0%, 100%, 0.5);
  --col-focus: var(--col-brand);
  --col-focus-alternate: var(--col-white);

  --col-yellow: #fffe07;
  --col-red: #fa4343;

  --col-gray-1: #f5f5f5;
  --col-gray-2: #eaeaea;
  --col-gray-3: #d6d6d6;
  --col-gray-4: #bfbfbf;
  --col-gray-5: #a9a9a9;
  --col-gray-6: #606060;
  --col-gray-7: #424242;
  --col-gray-8: #222222;

  --col-ok-1: #38396a;
  --col-ok-2: #53f3c5;
  --col-ok-3: #085c58;
  --col-ok-4: #dac9bc;
  --col-ok-5: #fbcd83;
  --col-ok-6: #fb9688;

  /**
   * Global rules.
   */

  --border-radius: 5px;
  --border-radius-tag: 20px;
  --page-width-max: 1440px;
  --page-gutters: 145px;

  /**
   * Spacing.
   */

  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 24px;
  --spacing-6: 32px;
  --spacing-7: 40px;
  --spacing-8: 56px;
  --spacing-9: 64px;
  --spacing-10: 80px;

  /**
   * Transitions.
   */

  --transition-stiff: 0.2s linear;
  --transition-smooth: 0.3s ease;

  /**
   * Z-indexes.
   */

  --z-index-overlay: 1;
  --z-index-sidebar: 2;
  --z-index-modal: 3;
  --z-index-burger: 4;
}
