.accordion {
  display: block;

  /* Elements */

  &__button {
    width: 100%;
    cursor: pointer;
    color: currentColor;
  }

  &__button-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
  }

  &__title {
    font-size: 20px;
    line-height: 28px;
  }

  &__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--min-touch-area);
    height: var(--min-touch-area);
    font-size: 27px;
    cursor: pointer;
    border-radius: var(--border-radius);
    overflow: hidden;
    flex-shrink: 0;

    &:before {
      content: '+';
      display: block;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: currentColor;
      opacity: 0;
      transition: opacity var(--transition-smooth);
    }

    &:hover:after {
      opacity: 0.1;
    }
  }

  &__contents {
    position: relative;
    top: 0;
    transition: all 0.2s ease;
  }

  &--open {
    .accordion__contents {
      top: var(--spacing-3);
      padding-bottom: var(--spacing-3);
    }
    .accordion__icon {
      &:before {
        content: '−';
      }
    }
  }

  &--show-dividers {
    border: 1px solid var(--col-gray-3);
    border-left: 0;
    border-right: 0;
    padding: var(--spacing-4) 0;
  }

  &--large {
    padding: var(--spacing-5) 0;

    .accordion__title {
      font-size: responsive 24px 32px;
      font-range: 420px 1440px;
      line-height: responsive 32px 40px;
      line-height-range: 420px 1440px;
      font-weight: bold;
    }

    .accordion__icon {
      font-size: 35px;
    }
  }
}

/* Prevent double borders when several accordions are stacked */

.accordion--show-dividers + .accordion--show-dividers {
  border-top: 0;
}
